body{
    background-color: #e0b378;
}

.Home{
    background-color: #f0e9db;
    min-height: 500px;
    width: 60%;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#SocielLogin{
    background: blue;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}